@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    //padding: 0;
    //color: #f7fbe1;
    font-family: "Roboto";
    font-size: 18px;
    text-shadow: 0 0 1px rgba(0,0,0, 0.3);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #438a5e;
    height: 100%;
    width: 100%;
}

.button{
  border-radius: 10px;
  border: 2px solid #3d3d3d;
  border-left: none;
  border-top: none;
  background-color: #fff;
  padding: 10px 15px;
  color: #000;
}

.button:hover{
  cursor: pointer;
}

.edit-button, .neutral-button{
  background-color: #436f8a !important;
  color: #fff !important;
}

.details-button, .add-button, .accept-button{
  background-color: #bac964 !important;
  color: #000 !important;
}

.delete-button, .cancel-button{
  background-color: #c42814 !important;
  color: #fff !important;
}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 border: 1px solid #888;
 width: 50%; /* Could be more or less, depending on screen size */
}

.modal-header{
  background-color: #bac964;
  padding: 10px 20px;
}

.modal-main{
  padding: 20px;
}

.modal-main textarea{
  margin-bottom: 25px;
}

.modal-header h1,h2{
  text-align: center;
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}
