<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gestão de Estágios - Propostas de Estágio</title>
        <link rel="stylesheet" href="../../../app_estagios/public/style.css/style.css">
        <link rel="stylesheet" href="../../../master.css">
    </head>
    <body>
    <div id="nav-body">

        <nav id="navbar">
            <ul id="navbar-menu">
              <li><a href="meusdados.html">Os Meus Dados</a></li>
              <li><a href="notificacoes.html">Notificações</a></li>
              <li><a href="propostas_estagios.html">Procurar Propostas de Estágio</a></li>
              <li class="nav-separator"></li>
              <li><a href="descricao_estagio.html">Descrição do estágio</a></li>
              <li><a href="plano_atividades.html" class="active">Plano de Atividades</a></li>
              <li><a href="../../../sumarios.html">Sumários</a></li>
              <li class="nav-separator"></li>
              <li><a href="">Terminar Sessão</a></li>
            </ul>
        </nav>
    </div>
        <div id="content">

            <section id="user-info">
                <ul>
                    <li>[NOME DO UTILIZADOR]</li>
                    <li class="user-info-separator"> | </li>
                    <li>[NOME DA ENTIDADE ACOLHEDORA]</li>
                </ul>
            </section>

            <h1 id="page-title">Objetivos Gerais</h1>

            <div class="table-container">
              <table id="propostas-table">
                <tr>
                  <th>ID</th>
                  <th>Desc. do Objetivo</th>
                  <th>Opções</th>
                </tr>
                <tr>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="add-button button">Adicionar</a>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

              <h1 id="page-title">Objetivos Específicos</h1>

              <table id="propostas-table">
                <tr>
                  <th>ID</th>
                  <th>Desc. do Objetivo</th>
                  <th>Opções</th>
                </tr>
                <tr>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>02</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>03</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="add-button button">Adicionar</a>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

              <h1 id="page-title">Atividades Principais a Realizar</h1>

              <table id="propostas-table">
                <tr>
                  <th>ID</th>
                  <th>Designação</th>
                  <th>Descrição</th>
                  <th>ID Objetivo</th>
                  <th>Opções</th>
                </tr>
                <tr>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet.</td>
                  </td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>01</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet.</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>01</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet.</td>
                  </td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  </td>
                  <td>01</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="add-button button">Adicionar</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

              <h1 id="page-title">Cronograma</h1>

              <table id="propostas-table">
                <tr>
                  <th>ID Atividade</th>
                  <th>ID Tarefa</th>
                  <th>Designação</th>
                  <th>Descrição</th>
                  <th>Duração</th>
                  <th>Opções</th>
                </tr>
                <tr>
                  <td>01</td>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet.</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>9 dias</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet.</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>9 dias</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>01</td>
                  <td>Lorem ipsum dolor sit amet.</td>
                  <td>Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</td>
                  <td>9 dias</td>
                  <td>
                    <a href="#" class="details-button button">Detalhes</a>
                    <a href="#" class="delete-button button">X</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="add-button button">Adicionar</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>

            </div>

        </div>

    </body>
</html>
